[submodule "mosesdecoder"]
	path = mosesdecoder
	url = https://github.com/moses-smt/mosesdecoder
[submodule "mgiza"]
	path = mgiza
	url = https://github.com/moses-smt/mgiza
[submodule "irstlm"]
	path = irstlm
	url = https://github.com/plison/irstlm
